{%  extends 'main/base.html' %}
{% block title  %} Homepage {% endblock title  %}
{% load static %}
{% block content  %}

<!-- Carousel/Slider -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'helpers/images/2.webp' %}" class="d-block w-100 slider-image" alt="image1">
      <div class="carousel-caption d-none d-md-block">
        <h5>GET USED TO READ BOOKS</h5>
        <p>Make it a habit to read books, you will enjoy.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'helpers/images/3.webp' %}" class="d-block w-100 slider-image" alt="image2">
      <div class="carousel-caption d-none d-md-block">
        <h5>KNOWLEDGE IS POWER</h5>
        <p>From books you can get knowledge to help you solve many problems</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'helpers/images/5.webp' %}" class="d-block w-100 slider-image" alt="image3">
      <div class="carousel-caption d-none d-md-block">
        <h5>LEOLEO, #1 PLATFORM TO GET FREE BOOKS </h5>
        <p>Get here free books to read anytime you want.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- End of carousel -->

<div class="container mt-5">

  <!-- Categories Section -->
  <div class="section-headers d-flex">
    <h4 class="header-left">Categories</h4>
    <a href="{% url 'categories' %}" class="header-right"><h5> View All </h5></a>
  </div>
  {% if categories %}
  <div class="categories-owl owl-carousel owl-theme">
      {% for category in categories %}
      <a href="{% url 'category-books' category.id %}">
        <div class="ms-2 me-2">
          <div class="category-o">
            <div>
              <img src="{{category.image.url}}" alt="{{category.name}}">
              <h5 class="text-center">{{category.name}}</h5>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
  </div>
  {% else %}
  <div class="ms-2 me-2">
    <h5 class="text-center">NO CATEGORY ADDED</h5>
  </div>
  {% endif %}
  <!-- End of Categories Section -->


  <!-- Books  section -->
  <div class="section-headers d-flex">
    <h4 class="header-left">Latest Books</h4>
    <a href="{% url 'books' %}" class="header-right"><h5> View All </h5></a>
  </div>
  {% if latest_books %}
  <div class="latest-books-owl owl-carousel owl-theme">
    {% for latest_book in latest_books %}
    <a href="{% url 'book' latest_book.id %}">
      <div class="ms-2 me-2">
        <div class="card">
          <img data-src="{{ latest_book.image.url }}" class="card-img-top owl-lazy" alt="{{latest_book.name}}">
        </div>
      </div>
    </a>
    {% endfor %}
    </div>
    {% else %}
    <div class="latest-books-owl owl-carousel owl-theme">
      <a href="{% url 'book' 1 %}">
        <div class="ms-2 me-2">
          <div class="card">
            <img data-src="{% static 'helpers/images/Books/Agnes and the end of the world.webp' %}" class="card-img-top owl-lazy" alt="">
          </div>
        </div>
      </a>
      <div class="ms-2 me-2">
        <div class="card">
          <img data-src="{% static 'helpers/images/Books/Amara the Brave.webp' %}" class="card-img-top owl-lazy" alt="">
        </div>
      </div>
      <div class="ms-2 me-2">
        <div class="card">
          <img data-src="{% static 'helpers/images/Books/Beautiful Creatures.jpg' %}" class="card-img-top owl-lazy" alt="">
        </div>
      </div>
      <div class="ms-2 me-2">
        <div class="card">
          <img data-src="{% static 'helpers/images/Books/Book Cover Guideline.jpg' %}" class="card-img-top owl-lazy" alt="">
        </div>
      </div>
      <div class="ms-2 me-2">
        <div class="card">
          <img data-src="{% static 'helpers/images/Books/Memory.jpg' %}" class="card-img-top owl-lazy" alt="">
        </div>
      </div>
      <div class="ms-2 me-2">
        <div class="card">
          <img data-src="{% static 'helpers/images/Books/Moral Compass.jpg' %}" class="card-img-top owl-lazy" alt="">
        </div>
      </div>
      <div class="ms-2 me-2">
        <div class="card">
          <img data-src="{% static 'helpers/images/Books/Richdad.jpg' %}" class="card-img-top owl-lazy" alt="">
        </div>
      </div>
      <div class="ms-2 me-2">
        <div class="card">
          <img data-src="{% static 'helpers/images/Books/Sugar run.jpg' %}" class="card-img-top owl-lazy" alt="">
        </div>
      </div>
      <div class="ms-2 me-2">
        <div class="card">
          <img data-src="{% static 'helpers/images/Books/The Great Gatsby.jpg' %}" class="card-img-top owl-lazy" alt="">
        </div>
      </div>
  </div>
  {% endif %}

  <!-- Popular Books -->
  <div class="section-headers d-flex">
    <h4 class="header-left">Popular Books</h4>
    <a href="{% url 'books' %}" class="header-right"><h5> View All </h5></a>
  </div>
  {% if popular_books %}
  <div class="popular-books-owl owl-carousel owl-theme">
    {% for popular_book in popular_books %}
    <a href="{% url 'book' popular_book.id %}">
      <div class="ms-2 me-2">
        <div class="card">
          <img data-src="{{popular_book.image.url}}" class="card-img-top owl-lazy" alt="{{popular_book.name}}">
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  {% else %}
  <div class="popular-books-owl owl-carousel owl-theme">
    <a href="{% url 'book' 1 %}">
      <div class="ms-2 me-2">
        <div class="card">
          <img data-src="{% static 'helpers/images/Books/Richdad.jpg' %}" class="card-img-top owl-lazy" alt="">
        </div>
      </div>
    </a>
    <div class="ms-2 me-2">
      <div class="card">
        <img data-src="{% static 'helpers/images/Books/Sugar run.jpg' %}" class="card-img-top owl-lazy" alt="">
      </div>
    </div>
    <div class="ms-2 me-2">
      <div class="card">
        <img data-src="{% static 'helpers/images/Books/Moral Compass.jpg' %}" class="card-img-top owl-lazy" alt="">
      </div>
    </div>
    <div class="ms-2 me-2">
      <div class="card">
        <img data-src="{% static 'helpers/images/Books/Amara the Brave.webp' %}" class="card-img-top owl-lazy" alt="">
      </div>
    </div>
    <div class="ms-2 me-2">
      <div class="card">
        <img data-src="{% static 'helpers/images/Books/Agnes and the end of the world.webp' %}" class="card-img-top owl-lazy" alt="">
      </div>
    </div>
    <div class="ms-2 me-2">
      <div class="card">
        <img data-src="{% static 'helpers/images/Books/Beautiful Creatures.jpg' %}" class="card-img-top owl-lazy" alt="">
      </div>
    </div>
    <div class="ms-2 me-2">
      <div class="card">
        <img data-src="{% static 'helpers/images/Books/Very nice.jpg' %}" class="card-img-top owl-lazy" alt="">
      </div>
    </div>
    <div class="ms-2 me-2">
      <div class="card">
        <img data-src="{% static 'helpers/images/Books/Book Cover Guideline.jpg' %}" class="card-img-top owl-lazy" alt="">
      </div>
    </div>
    <div class="ms-2 me-2">
      <div class="card">
        <img data-src="{% static 'helpers/images/Books/Memory.jpg' %}" class="card-img-top owl-lazy" alt="">
      </div>
    </div>
  </div>
  {% endif %}
  <!-- End of books slider -->
</div>
{% endblock content  %}



<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
{% block footer  %}
<!-- Section: Social media -->
<!-- <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"> -->
    <!-- Left -->
    <!-- <div class="me-5 d-none d-lg-block">
    <span>Get connected with us on social networks:</span>
    </div> -->
    <!-- Left -->

    <!-- Right -->
    <!-- <div>
    <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
    </a>
    <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
    </a>
    <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
    </a>
    </div> -->
    <!-- Right -->
<!-- </section> -->
<!-- Section: Social media -->

<!-- Section: Links  -->
<section class="">
    <div class="container text-center text-md-start mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>LeoLeo Library
        </h6>
        <p>
            Here you can download books for free as much as you want. Welcome and you can click the link below to donate.
           <br>
            <!-- Button trigger modal -->
              <button type="button" class="btn btn-outline-success mt-4" data-bs-toggle="modal" data-bs-target="#donateModal">
                DONATE NOW
              </button>

              <!-- Modal -->
              <div class="modal fade" id="donateModal" tabindex="-1" aria-labelledby=donateModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="donateModalLabel">DONATE NOW</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h5>Account Number:</h5>
                      <p><strong>12343245678</strong> - LeoLeo Library | CRDB</p>
                      <h3>Phone Number</h3>
                      <p><strong>076543321</strong> - LeoLeo Library | M-Pesa</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

        </p>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="donateModal" tabindex="-1" aria-labelledby="donateModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-dark" id="donateModalLabel">DONATE NOW</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                      <h3>Account Number:</h3>
                      <p>12343245678 LeoLeo Library - CRDB</p>
                      <h3>Phone Number</h3>
                      <p>076543321 LeoLeo Library - M-Pesa</p>

              </div>
            </div>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4">
            Useful links
        </h6>
        <p>
            {% if request.user.is_authenticated %}
            <a href="{% url 'change-password' %}" class="text-reset">Change Password</a>
            {% else %}
            <a href="{% url 'login' %}" class="text-reset">Admin</a>
            {% endif %}
        </p>
        <p>
            <a href="{% url 'books' %}" class="text-reset">Books</a>
        </p>
        <p>
            <a href="{% url 'about' %}" class="text-reset">About Us</a>
        </p>
        <p>
            <a href="{% url 'contact' %}" class="text-reset">Contact Us</a>
        </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4">
            Contact
        </h6>
        <p><i class="fas fa-home me-3"></i> Samora AV, SA 10012, TZ</p>
        <p>
            <i class="fas fa-envelope me-3"></i>
            leoleocompany@leoleo.com
        </p>
        <p><i class="fas fa-phone me-3"></i> + 255 767 835 587</p>
        <p><i class="fas fa-phone me-3"></i> + 255 739 835 587</p>
        <p><i class="fas fa-phone me-3"></i> + 255 778 127 297</p>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->
    </div>
</section>
<!-- Section: Links  -->

<!-- Copyright -->
{% endblock footer  %}
