{% extends 'main/base2.html' %}
{% load widget_tweaks %}
{% block title %} login {% endblock %}
{% load static %}
{% block content %}
<!-- Css links -->
<link rel="stylesheet" href="{% static 'admin/css/admin-temp.css' %}">
<!-- End of css -->
<div class="outer_container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="contents">
        <div class="contents login-contents mt-5 pt-5">
          <div class="w3-card pb-4 pl-4 pr-4 pt-2">
            <div class="heading w3-center">
              <h3> Log In</h3>
              </div>
              <hr>
              <form method="POST" class="form-group">
                  {% csrf_token %}
                  {% for field in form.visible_fields %}
                    <div class="form-group">
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                      {{ field|add_class:'form-control' }}
                      {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% endfor %}
                  <div class="form-group mt-5">
                    <button class="btn btn-outline-info btn-block" type="submit">Login</button>
                    <a href="{% url 'password_reset' %}"> forgot password?</a>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
