{% extends 'main/base2.html' %}
{% load widget_tweaks %}
{% block title %} Update User {% endblock %}
{% block content %}
<div class="outer_container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="contents">
          <div class="heading pb-2 pt-1 mb-3 w3-center">
            <h3> UPDATE USER</h3>
          </div>
          <div class="login_form w3-card pb-1 pr-5 pl-5">
              <form method="POST" class="form-group pt-5 ">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                  <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    {% for error in field.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                {% endfor %}

                  <div class="form-group mt-5">
                    <button class="btn btn-block btn-outline-info" type="submit">Update</button>
                  </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
